@page
@model Lab.Core.IdentityServer.Pages.Error.Index

<div class="error-page">
    <div class="lead">
        <h1>Error</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                Sorry, there was an error

                @if (Model.View.Error != null)
                {
                    <strong>
                        <em>
                            : @Model.View.Error.Error
                        </em>
                    </strong>

                    if (Model.View.Error.ErrorDescription != null)
                    {
                        <div>@Model.View.Error.ErrorDescription</div>
                    }

                    if (Model.View.Error.ClientId != null)
                    {
                        <div>ClientId: @Model.View.Error.ClientId</div>
                    }

                    if (Model.View.Error.RedirectUri != null)
                    {
                        <div>RedirectUri: @Model.View.Error.RedirectUri</div>
                    }

                    if (Model.View.Error.ResponseMode != null)
                    {
                        <div>ResponseMode: @Model.View.Error.ResponseMode</div>
                    }
                }
            </div>

            @if (Model?.View?.Error?.RequestId != null)
            {
                <div class="request-id">Request Id: @Model.View.Error.RequestId</div>
            }
        </div>
    </div>
</div>
